.mario {
    width: 5rem;
    height: auto;
    position: absolute;
    bottom: 12.4vh;
    left: 40px;
}


.jump {
    animation: jumping .8s ;
    animation-timing-function: ease-out;
}

@keyframes jumping {
    0% {
        transform: translateY(-10px);
        
    }
    20% {
        transform: translateY(-80px);
        
    }
    40% {
        transform: translateY(-90px);
        
       
    }
    60% {
        transform: translateY(-10px);
        
    }
   
    100% {
        transform: translateY(0);
    }

} 

/* Mario Die */
.die {
    animation-name: die-animation;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes die-animation {
    25% {
        bottom: 30vh;
        left: 8vh;
    }
    100% {
        bottom: -20vh;
    }
}

/* Media Queries */
@media (max-width: 1280px) {
    .mario {
        width: 4rem;
        bottom: 100px;
    }
}

@media (max-width: 1024px) {
    .mario {
        width: 3rem;
        bottom: 60px;
    }
}

@media (max-width: 640px) {
    .mario {
        width: 3rem;
        left: 20px;
        bottom: 60px;
    }
}
@media (min-width: 1280px){
    .mario {
        width: 4rem;
        bottom: 120px;
    }
}